.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.header_menu {
    padding: 133px 0 138px 47px;
}

.header_menu_list {
    display: flex;
    gap: 30px;
    line-height: 100%;
}

.header_menu_item {
    list-style: circle;
}

.header_menu_item_active {
    list-style: none;
}

.active {
    text-decoration: none;
}

.header_menu_link {
    padding-left: 3px;
    text-underline-offset: 4px;
    font-size: 18px;
}

.header_logo {
    padding: 92px 0 92px 0;
}

.header_logo_img {
    width: 148px;
    height: 105px;
}

.headder_address {
    justify-self: flex-end;
    padding: 94px 50px 100px 186px;
}

.address {
    list-style: none;
    text-underline-offset: 4.5px;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
}

.overlay {
    background-color: rgb(0 0 0 / 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
}

.cover {
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    min-height: 757px;
    position: relative;
}

.aligned_text {
    padding: 166px 50px 0 50px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.text {
    letter-spacing: 0.3em;
    color: #FFFFFF;
    font-size: 100px;
    text-transform: uppercase;
    line-height: 114.9px;
}

.text_left {
    text-align: left;
}

.text_center {
    text-align: center;
    padding: 20px 330.5px;
}

.text_right {
    text-align: end;
    padding: 0 0 106px 614px;
}

.cover_description {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    padding: 0 50px 50px 50px;
    position: relative;
}

.cover_description_text {
    font-size: 22px;
    word-spacing: 0.84em;
    line-height: 28px;
}

.bet_button {
    all: unset;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 14px 32px;
    line-height: 100%;
}
.lots {
    padding: 183px 24px 120px;
}

.lots_heading {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 100%;
    padding: 0 891px 30px 40px;
}

.lots_card_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.lots_card_list_item {
    width: 334px;
    min-height: 596px;
    list-style: none;
    color: #FFFFFF;
    
}

.card_link {
    height: 100%;
    text-decoration: none;
}

.card {
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    position: relative;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card_title {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
    z-index: 1;
}

.card_text {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    z-index: 1;
}

.lots_look_more_link {
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    padding: 32px 820px 0 40px;
    text-underline-offset: 4.3px;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    padding: 35px 24px 1px 24px;
    justify-items: center;
}

.about_logo {
    background-color:black;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.about_logo_image {
    padding-top: 3px;
    width: 148px;
}

.about_column {
    padding: 106px 0 0 12px;
    width: 693px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about_title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 100%;
    padding-bottom: 79px;
}

.about_text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 180px 0 0 0;
}

.footer_address {
    padding: 0 75px 82px 50px;
}

.footer_menu {
    display: flex;
    justify-content: center;
    padding: 1px 75px 115px;
}

.footer_menu_list {
    list-style: none;
    text-align: center;
}

.footer_menu_list_item {
    padding-top: 3px;
    line-height: 100%;
}

.footer_menu_link {
    text-underline-offset: 4px;
    font-size: 18px;
    font-weight: 400;
}

.footer_social_list {
    display: grid;
    grid-template-columns: 48px 48px 48px;
    gap: 48px;
    list-style: none;
    padding-left: 76px;
}

.footer_social_icon {
    width: 48px;
}