.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.header_menu {
    padding-left: 50px;
    position: relative;
    bottom: 3px;
}

.header_menu_list {
    display: flex;
    gap: 33px;
    font-size: 18px;
}

.header_menu_link {
    list-style: none;

}

.header_menu_link_circle {
    list-style: circle;
    text-underline-offset: 4px;
}

.header_logo {
    padding-top: 90px;
    padding-bottom: 94px;
    justify-items: center;
}

.header_logo_img {
    max-height: 106px;
}

.headder_contacts {
    justify-self: flex-end;
    padding-right: 50px;
    text-underline-offset: 4.5px;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    max-width: 290px;
    position: relative;
    bottom: 3px;

}

.header_contacts_item {
    list-style: none;
}

